<launch>
    <param name="robot_description" command="$(find xacro)/xacro.py '$(find stingray_model)/urdf/stingray.urdf.xacro'"/>
    <param name="/use_sim_time" value="false"/>
    
    <!--
    <node pkg="os5000" type="oscompass" name="compass">
        <param name="baud"           value="115200"/>
        <param name="init_time"      value="3"/>
        <param name="port"           value="/dev/ttyUSB0"/>
        <param name="pub_topic_name" value="os5000_data"/>
        <param name="rate"           value="40"/>
        <param name="reconnect"      value="false"/>
    </node>

    <node pkg="microstrain" type="ms3dmg" name="microstrain">
        <param name="baud"           value="115200"/>
        <param name="port"           value="/dev/ttyUSB0"/>
        <param name="pub_topic_name" value="mstrain_data"/>
        <param name="rate"           value="50"/>
        <param name="use_gyro_stab"  value="true"/>
    </node>
    -->

    <node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher"/>

    <node pkg="stingray_model" type="stingray_model" name="stingray_model">
        <param name="rate"              value="1200"/>
        <param name="mode"              value="0"/>
        <param name="gazebo_model_name" value="stingray"/>
        <param name="pub_gazebo_name"   value="gazebo/set_model_state"/>
        <param name="path_depth"        value="3.0"/>
        <param name="path_radius"       value="0.0"/>
    </node>

    <node pkg="rviz" type="rviz" name="rviz" args="-f odom"/>

    <!--<node pkg="gazebo" type="gazebo" name="gazebo"
        args="$(find gazebo_worlds)/worlds/empty.world">
    </node>

    <node pkg="gazebo" type="spawn_model" name="gazebo_spawn_stingray"
        args="-urdf -param robot_description -model stingray">
    </node>-->
</launch>
