#! /usr/bin/env python

PACKAGE='stingray_model'
import roslib
roslib.load_manifest(PACKAGE)

from dynamic_reconfigure.parameter_generator import *

gen = ParameterGenerator()
#       Name           Type      Level Description                   Default Min    Max
gen.add("path_depth",  double_t, 0,    "Depth of robot on path",     1.0,    0.0,   200.0)
gen.add("path_radius", double_t, 0,    "Radius of robot path",       2.0,    0.5,   100.0)

exit(gen.generate(PACKAGE, "stingray_model", "stingray_model"))
