<!--
Starts a PR2 Prosilica camera in streaming mode.
This file exists mainly for backwards compatibility.
-->

<launch>

  <include file="$(find prosilica_camera)/launch/generic.launch">
    <arg name="camera"       value="prosilica" />
    <arg name="ip_address"   value="192.168.3.145" />
    <arg name="trigger_mode" value="fixedrate" />
    <arg name="frame_id"     value="high_def_optical_frame" />
  </include>

</launch>
