<launch>
    <node pkg="prosilica_camera"type="prosilica_node"name="prosilica_left"output="screen">
        <param name="ip_address" value="192.168.2.102"/>
        <param name="trigger_mode" value="streaming"/>
        <remap from="camera" to="camera"/>
        <rosparam command="load" file="$(find prosilica_camera)/cam_settings.yaml"/>
    </node>

    <group ns="camera">
        <node pkg="image_proc" type="image_proc" name="left_image_proc" respawn="false"/>
    </group>
</launch>
