<launch>

  <include file="$(find stingray_start)/stingray.machine" />

  <node pkg="rxtools" type="rxconsole" name="rxconsole"/>

  <node pkg="sbBTA252" type="sbBTA252" name="thrusters"/>

  <node pkg="os5000" type="oscompass" name="compass">
      <param name="baud"           value="115200"/>
      <param name="init_time"      value="3"/>
      <param name="port"           value="/dev/ttyUSB0"/>
      <param name="pub_topic_name" value="os5000_data"/>
      <param name="rate"           value="40"/>
      <param name="reconnect"      value="false"/>
  </node>

  <!-- imu -->
    <node pkg="microstrain_3dmgx2_imu" type="imu_node" name="microstrain_3dmgx2_node" output="screen">
      <param name="time_offset" value="-0.040" />
      <param name="port"  type="string" value="/dev/ttyACM0" />
      <param name="autostart" type="bool" value="true" />
      <param name="frameid"  type="string" value="imu" />
      <param name="autocalibrate" type="bool" value="true" />
      <param name="angular_velocity_stdev" type="double" value="0.00017" />
      <remap from="/imu/data" to="/mstrain_data"/>
    </node>


  <node pkg="pid" type="pidserver" name="pid"/>

  <node pkg="planner" type="planner" name="planner">
    <param name="target_surge" value="0.0"/>
    <param name="target_lat"   value="0.0"/>
    <param name="target_lon"   value="0.0"/>
    <param name="target_depth" value="0.0"/>
    <param name="target_roll"  value="0.0"/>
    <param name="target_pitch" value="0.0"/>
    <param name="target_yaw"   value="0.0"/>
  </node>

  <node pkg="dynamic_reconfigure" type="reconfigure_gui" name="reconfigure_gui"/>

  <node pkg="nav" type="nav" name="nav">
    <param name="rate" value="200"/>
    <param name="gain_roll_p"   value="1.0"/>
    <param name="gain_roll_i"   value="0.0"/>
    <param name="gain_roll_d"   value="0.0"/>
    <param name="gain_pitch_p"  value="1.0"/>
    <param name="gain_pitch_i"  value="0.0"/>
    <param name="gain_pitch_d"  value="0.0"/>
    <param name="gain_yaw_p"    value="1.0"/>
    <param name="gain_yaw_i"    value="0.0"/>
    <param name="gain_yaw_d"    value="0.05"/>
    <param name="gain_depth_p"  value="1.0"/>
    <param name="gain_depth_i"  value="0.0"/>
    <param name="gain_depth_d"  value="0.0"/>
    <param name="gain_speed_p"  value="10.0"/>
    <param name="gain_speed_i"  value="0.0"/>
    <param name="gain_speed_d"  value="0.0"/>
    <param name="target_roll"   value="0.0"/>
    <param name="target_pitch"  value="0.0"/>
    <param name="target_yaw"    value="0.0"/>
    <param name="target_depth"  value="0.0"/>
    <param name="target_speed"  value="0.0"/>
    <param name="min_int_pitch" value="-50.0"/>
    <param name="max_int_pitch" value="50.0"/>
    <param name="min_int_roll"  value="-50.0"/>
    <param name="max_int_roll"  value="50.0"/>
    <param name="min_int_yaw"   value="-50.0"/>
    <param name="max_int_yaw"   value="50.0"/>
    <param name="min_int_depth" value="-50.0"/>
    <param name="max_int_depth" value="50.0"/>
    <param name="min_int_speed" value="-50.0"/>
    <param name="max_int_speed" value="50.0"/>
  </node>
</launch>
