<launch>
    <group ns="stereo">
        <node pkg="prosilica_camera" type="prosilica_node" name="left_camera">
            <rosparam file="$(find ocd_vo)/cameras/camera.yaml"/>
            <param name="ip_address" value="192.168.2.102"/>
            <param name="camera_info_url" value="package://ocd_vo/cameras/left_prosilica.yaml"/>
            <remap from="camera" to="left"/>
        </node>

        <node pkg="prosilica_camera" type="prosilica_node" name="right_camera">
            <rosparam file="$(find ocd_vo)/cameras/camera.yaml"/>
            <param name="ip_address" value="192.168.2.101"/>
            <param name="camera_info_url" value="package://ocd_vo/cameras/right_prosilica.yaml"/>
            <remap from="camera" to="right"/>
        </node>
    </group>

    <node pkg="camera_calibration" type="cameracalibrator.py" name="stereo_calibration"
          args="--size 7x6 --square 0.108 right:=/stereo/right/image_raw
                left:=/stereo/left/image_raw right_camera:=/stereo/right
                left_camera:=/stereo/left --approximate=0.01">
    </node>

</launch>
