<?xml version="1.0"?>

<!-- Note that ORDER MATTERS for xmlns! -->
<robot name="stingray"
    xmlns:xi="http://www.w3.org/2001/XInclude"
    xmlns:gazebo="http://playerstage.sourceforge.net/gazebo/xmlschema/#gz"
    xmlns:model="http://playerstage.sourceforge.net/gazebo/xmlschema/#model"
    xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
    xmlns:body="http://playerstage.sourceforge.net/gazebo/xmlschema/#body"
    xmlns:geom="http://playerstage.sourceforge.net/gazebo/xmlschema/#geom"
    xmlns:joint="http://playerstage.sourceforge.net/gazebo/xmlschema/#joint"
    xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
    xmlns:rendering="http://playerstage.sourceforge.net/gazebo/xmlschema/#rendering"
    xmlns:renderable="http://playerstage.sourceforge.net/gazebo/xmlschema/#renderable"
    xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
    xmlns:physics="http://playerstage.sourceforge.net/gazebo/xmlschema/#physics"
    xmlns:xacro="http://www.ros.org/wiki/xacro"
>

    <xacro:property name="M_PI"        value="3.1415926535897931"/>
    <xacro:property name="chassis_x"   value="0.05"/>
    <xacro:property name="chassis_y"   value="0.3"/>
    <xacro:property name="chassis_z"   value="0.001"/>
    <xacro:property name="camera_size" value="0.04"/>
    <xacro:property name="lens_length" value="0.05"/>
    <xacro:property name="lens_radius" value="0.015"/>

    <xacro:macro name="default_inertial" params="mass">
        <inertial>
            <mass value="${mass}" />
            <inertia ixx="${mass*0.1}" ixy="0.0" ixz="0.0" iyy="${mass*0.1}" iyz="0.0" izz="${mass*0.1}"/>
        </inertial>
    </xacro:macro>

    <!-- Dummy base_link. Only here to set origin, so make it small. -->
    <link name="base_link">
        <xacro:default_inertial mass="1.0"/>
        
        <visual>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <sphere radius="0.00001"/>
            </geometry>
            <material name="gray">
                <color rgba=".2 .2 .2 1"/>
            </material>
        </visual>
    </link>
   
    <!-- Camera mounting plate. -->
    <link name="chassis">
        <xacro:default_inertial mass="45.0"/>
    
        <visual>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <box size="${chassis_x} ${chassis_y} ${chassis_z}"/>
            </geometry>
            <material name="grey">
                <color rgba="0.5 0.5 0.5 1"/>
            </material>
        </visual>
    </link>
   
    <!-- Connect base_link and chassis. -->
    <joint name="base_link_to_chassis" type="fixed">
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <parent link="base_link"/>
        <child link="chassis"/>
    </joint>
   
   <!-- The left camera in stereo pair. -->
    <link name="left_camera">
        <xacro:default_inertial mass="3.0"/>
    
        <visual>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <box size="${camera_size} ${camera_size} ${camera_size}"/>
            </geometry>
            <material name="black">
                <color rgba="0.0 0.0 0.0 1"/>
            </material>
        </visual>
    </link>
    
    <!-- Connect chassis and left camera. -->
    <joint name="chassis_to_left_camera" type="fixed">
        <origin xyz="0 ${camera_size*2} ${camera_size*0.5}" rpy="0.0 0.0 0.0"/>
        <parent link="chassis"/>
        <child link="left_camera"/>
    </joint>

   <!-- The right camera in stereo pair. -->
   
   <link name="right_camera">
        <xacro:default_inertial mass="3.0"/>
    
        <visual>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <box size="${camera_size} ${camera_size} ${camera_size}"/>
            </geometry>
            <material name="black"/>
        </visual>
    </link>
    

    <!-- Connect chassis and right camera. -->
    
    <joint name="chassis_to_right_camera" type="fixed">
        <origin xyz="0 ${-camera_size*2} ${camera_size*0.5}" rpy="0.0 0.0 0.0"/>
        <parent link="chassis"/>
        <child link="right_camera"/>
    </joint>
    

    <!-- The left camera lens. -->
    <link name="left_camera_lens">
        <xacro:default_inertial mass="3.0"/>
    
        <visual>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <cylinder length="${lens_length}" radius="${lens_radius}"/>
            </geometry>
            <material name="black"/>
        </visual>
    </link>
    
    <!-- Connect left camera and left camera lens. -->
    <joint name="left_camera_to_left_camera_lens" type="fixed">
        <origin xyz="${camera_size} 0.0 0.0" rpy="0.0 ${M_PI/2} 0.0"/>
        <parent link="left_camera"/>
        <child link="left_camera_lens"/>
    </joint>

    
    <!-- The right camera lens. -->
   
   <link name="right_camera_lens">
        <xacro:default_inertial mass="3.0"/>
    
        <visual>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <cylinder length="${lens_length}" radius="${lens_radius}"/>
            </geometry>
            <material name="black"/>
        </visual>
    </link>
   

    <!-- Connect right camera and right camera lens. -->
   <joint name="right_camera_to_right_camera_lens" type="fixed">
        <origin xyz="${camera_size} 0.0 0.0" rpy="0.0 ${M_PI/2} 0.0"/>
        <parent link="right_camera"/>
        <child link="right_camera_lens"/>
    </joint>
    
    <!-- The left camera optical frame. -->
    <link name="camera_optical_frame">
        <xacro:default_inertial mass=".01"/>
    
        <visual>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <sphere radius=".0001"/>
            </geometry>
            <material name="grey"/>
        </visual>
    </link>
    
    <!-- Connect left camera lens and camera optical frame. -->
    
    <joint name="left_camera_lens_to_camera_optical_frame" type="fixed">
        <origin xyz="0 0 0" rpy="0 0 ${-M_PI/2}"/>
        <parent link="left_camera_lens"/>
        <child link="camera_optical_frame"/>
    </joint>
</robot>
